/*

font-family: 'Open Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif;

*/

/* Geral */
:root{

    --LIGHT: #DBDBD5;
    --GREYED: #a7a7a2;
    --ACCENT1: #C2AC3D;
    --ACCENT2: #7B6E25;
    --DARK1: #332D0F;
    --DARK2: #211D0A;

    --SUCCESS-DARK: #123313;
    --SUCCESS-CLEAR: #BDC8BC;
    --SUCCESS-ACCENT: #4CC23B;

}
*{
    font-family: 'Open Sans', sans-serif;
    color: var(--DARK2);
}
body{
    min-height: 100vh;
    padding-bottom:100px;
    position: relative;
    background-color: var(--LIGHT);
}
header{
    background-color: var(--ACCENT2);
    border-bottom: 2px solid var(--ACCENT1);
    padding: 0 20px;    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
main{
    padding-top: 78px;
}
hr{
    border: 1px solid var(--ACCENT2);
}
.row{
    margin: 0;
}
.container-fluid{
    padding: 0;
}

.msg{
    background-color: var(--SUCCESS-ACCENT);
    color: var(--LIGHT);
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
    width: 100%;
    text-shadow: 2px 2px 4px #12331333;
    box-shadow: 2px 2px 8px #12331366;
}

.btn-primary{       
    background-color: var(--ACCENT1);
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    padding: 15px 45px;
    box-shadow: 2px 2px 6px #11111133;
    transition: all .2s;
}
.btn-primary:hover{
    background-color: var(--ACCENT2);
    box-shadow: 0px 0px 3px #11111133;
}
.btn-primary:focus, .btn-primary:active{
    background-color: var(--DARK1) !important;
    box-shadow: 0px 0px 3px #11111133;
}
h1, h2, h5{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

/* --------- menu --------- */
.navbar-brand{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 36px;
    color: var(--ACCENT1);
}
.navbar-brand:hover, .navbar-brand:active{
    color: var(--ACCENT1);
}
#navbar img{
    height: 40px;
    margin: 0 5px 0 20px;
}   

#navbar{
    justify-content: space-between;
}

.nav-item a{
    font-size: 16px;
    margin: 0 5px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    color: var(--LIGHT);
}
.nav-item a:hover{
    color: var(--ACCENT1);
}

/* -------- pesquisar -------- */

#mask{
    background-color: #22222266;
    padding: 120px;
    height: 400px;
    backdrop-filter: blur(8px);
}

#search-container{
    padding: 0;
    background-image: url(../img/banner4.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
    text-align: center;
}

#search-container h1{
    text-transform: uppercase;
    font-size: 3.2em;
    color: var(--LIGHT);
    text-shadow: 2px 2px 6px #22222266
}

#search-container form{
    width: 50%;
    margin: 0 auto;
}

#search-container input{
    border-radius: 50px;
    border: none;
    padding: 15px 20px;
    text-transform: uppercase;
    text-align: center; 
    color: var(--DARK1);
    background-color: #DBDBD5bb;
    box-shadow: inset 3px 3px 6px #22222266;
    text-shadow: 1px 1px 2px #22222222;
}
#search-container input:focus{
    box-shadow: 3px 3px 6px #222222aa;
    background-color: #DBDBD5bb;
    color: var(--DARK1);
    box-shadow: none;
    border: 0;
}

/* ----- Conteúdo ------ */

#events-container{
    padding: 30px 50px;
}
#events-container h2{
    font-size: 3em;
    color: var(--ACCENT2);
    padding: 0; 
    text-shadow: 1px 1px 2px #22222222;
}
#events-container .subtitle{
    color: var(--GREYED);
    margin-bottom: 30px;
    margin-left: 5px;
}
#cards-container{
    display: flex;

}
#events-container .card{
    flex: 1 1 24%;
    max-width: 25%;
    padding: 0;
    margin: .5%;
    border-radius: 0;
    box-shadow: 2px 2px 6px #11111133;
    outline: 0px solid var(--GREYED);
    transition: all .2s;
}
#events-container .card:hover{
    outline: 1px solid var(--ACCENT1);
    box-shadow: 0px 0px 2px #11111133;
}

#events-container img{
    max-height: 350px;
}

.card .card-date{
    color: var(--GREYED);
    font-size: 12px;
}

hr{
    margin-bottom: 30px;
}

.card .card-title{
    color: var(--DARK1);
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #22222222;
}

.card .card-description{
    color: var(--ACCENT2);
    font-size: 12px;
}

.card .card-participants{
    color: var(--GREYED);
    font-size: 12px;
}

.card .card-city{
    color: var(--GREYED);
    font-size: 12px;
    float: right;
}

ion-icon{
    color: var(--GREYED);
}

/* ----- footer ----- */

footer{
    text-align: center;
    background-color: var(--ACCENT2);
    border-top: 2px solid var(--ACCENT1);
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer p{
    color: var(--LIGHT);
    margin: 10px 0;
    font-weight: 300;
}

footer #logo{
    color: var(--ACCENT1);
    text-transform: lowercase;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    text-decoration: none;
}

/* ----- formulário de criação de eventos  ----- */

#event-create-container{
    margin-top: 120px;
}

#event-create-container h1{
    color: var(--DARK1);
    text-shadow: 1px 1px 4px #22222233;
}

.form-group{
    margin: 20px 0;
}
.form-group #image{
    width: 100%;
}
.form-group label{
    margin-bottom: 5px;
    color: var(--DARK1);
    font-weight: 300;
    font-size: 18px;
}
.form-group input,
.form-group select,
.form-group textarea{
    padding: 15px;
    border-radius: 0;
    color: var(--DARK1);
    box-shadow: 2px 2px 6px #11111133;
    outline: 0px solid var(--ACCENT1);
    border: 0;
    transition: all .4s;
}
.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus{
    box-shadow: 1px 1px 2px #11111133;
    outline: 1px solid var(--ACCENT1);
    border: 0;
}
.form-group input:active,
.form-group select:active,
.form-group textarea:active{
    padding: 15px;
    border-radius: 0;
    color: var(--DARK1);
    box-shadow: 1px 1px 2px #11111133;
    border: 0;
}
.form-group textarea{
    margin-bottom: 30px;
}
.form-group select.selected{
    border-radius: 0;
    padding: 5px;
    background-color: var(--ACCENT1);
}
#btnCriar{
    margin-bottom: 15px;
}

/* ----- página de exibição do evento  ----- */

#img-container{
    margin: 50px 0;
    padding: 0;
    box-shadow: 3px 3px 8px #12331366;
    border: 2px solid var(--ACCENT1);
}
#info-container{
    margin: 50px 0;
    padding: 0 50px; 
    font-weight: 300;
}

#info-container h1{
    font-size: 3em;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--ACCENT2);
    text-shadow: 1px 1px 4px #22222233;
    font-family: 'Josefin Sans', sans-serif;
}

#info-container p{
    margin: 20px 0; 
    display: flex;
}

#info-container ion-icon{
    color: var(--ACCENT2);
    margin-right: 5px;
    font-size: 22px;
}

#description-container{
    padding: 0;
    margin-bottom: 30px;
}
#description-container h3{
    font-weight: 300;
    font-size: 2.4em;
    color: var(--ACCENT2);
    text-shadow: 1px 1px 4px #22222233;
    font-family: 'Josefin Sans', sans-serif;
    
}
#description-container p{
    color: var(--DARK1);
    font-weight: 300;
    font-size: 18px;
}